body {
	font-family: arial;
}

h1 {
	text-align: center;
}

#frame {
    width: 500px;
    height: 500px;
}

.right {
	width: 40%;
	float: right;
}

.left {
	width: 60%;
	float: left;
}


.line {
	stroke: grey;
    stroke-width: 20;
}

.point:hover {
	fill: #ff6200;
  }


.highlight_point {
	fill: #191591;
  }

.highlight_point:hover {
	fill: #039c08;
  }

