body {
	font-family: arial;
	height: 100vh;
}

h1 {
	text-align: center;
}

ul {
  list-style-position: inside;
}

circle {
	fill: #002ae3;
}

circle:hover {
	fill: #ff6200;
}

#scatterPlot {
	height: 50vh;
}

#frame {
    width: 500px;
    height: 500px;
}

#footer {
	padding-top: 5%;
	clear: both;
	text-align: center;
}

.right {
	padding-top: 160px;
	float: right;
	width: 40%;
}

.left {
	float: left;
	width: 60%;
    text-align:center;
}


.inline {
	display: inline;
}

.line {
	stroke: black;
    stroke-width: 10;
}

.addStroke { 
	stroke: lightgreen;
	stroke-width: 4px;
}

